<section class="menu-s1 container-fluid d-flex minh-50vh bg-light align-items-center py-5">
    <div class="row mx-0 w-100 mt-5">
        <div class="col-11 col-sm-9 col-md-7 mx-auto d-flex align-items-center">
            <div class="w-100 text-center text-shadow">
                <h2 class="dispaly-6 fw-bold text-white">
                    Lorem ipsum dolor
                </h2>
                <p class="lead text-white">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </p>
            </div>
        </div>
    </div>
</section>
<section class="menu-s2 container-fluid d-flex minh-25vh bg-light align-items-center py-5 border-top">
    <div class="row mx-0 w-100">
        <div class="col-11 col-sm-9 col-md-7 mx-auto">
            <div class="card w-100 mb-4">
                <div class="row m-0">
                    <div class="col-4 bg-secondary p-0">
                        <img src="assets/img/img-2.jpg" class="card-img h-100" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row m-0">
                    <div class="col-4 bg-secondary p-0">
                        <img src="assets/img/img-3.jpg" class="card-img h-100" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row m-0">
                    <div class="col-4 bg-secondary p-0">
                        <img src="assets/img/img-5.jpg" class="card-img h-100" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row m-0">
                    <div class="col-4 bg-secondary p-0">
                        <img src="assets/img/img-6.jpg" class="card-img h-100" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>