@include aoa-bg-series($bg__init,$classes_init);

.comingsoon-s1{
    background-blend-mode: multiply;
}
.error-s1{
    background-blend-mode: multiply;
}
.privacy-s1{
    background-blend-mode: multiply;
}
.contact,.index,.menu,.events{
    &-s1{
        *{
            color: #fff !important;
        }
        background-color: #999!important;
        background-blend-mode: multiply!important;
        text-shadow: $text-shadow;
    }
}
.text{
    &-shadow{
        text-shadow: $text-shadow;
    }
}
nav{
    z-index: 10;
}
textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .navbar{
        &-nav{
            *:hover{
                opacity: 0.8;
            }
            background-color: #999!important;
            border: 1px solid #666!important;
            color: #333!important;
            padding: 10px;
        }
    }
}