$prefix: "../../../assets/img/";
$bg__comingsoon-img: $prefix+"coming.jpg";
$bg__contact-img: $prefix+"contact/contact-s1.jpg";
$bg__error-img: $prefix+"error.jpg";
$bg__events-img: $prefix+"events/events-s1.jpg";
$bg__index-img: $prefix+"index/index-s1.jpg";
$bg__menu-img: $prefix+"menu/menu-s1.jpg";
$bg__privacy-img: $prefix+"privacy.jpg";
$bg__user-img: $bg__privacy-img;
$bg__init:
    "comingsoon",
    "contact",
    "error",
    "events",
    "index",
    "menu",
    "privacy",
    "user";
$classes_init:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__events-img,
    $bg__index-img,
    $bg__menu-img,
    $bg__privacy-img,
    $bg__user-img;
$footer-height: 41px;
$color__shadow: #333;
$text-shadow: 1px 1px 3px $color__shadow; 